<h1>Maior de Idade, sua idade é {{idade}} anos.</h1>
<h3> Eu Aprendi a realizar esse código na rocketseat, caso queira conhecer o site deles, segue o botão</h3>

<a href="//skylab.rocketseat.com.br"><button type="submit">Ir Para rocketseat </button></a>
